@mixin prop-tabla($fon, $text) {
        font-size: $fon;
        text-align: $text;
}

@mixin border {
        border: 1px solid black;
}

table {
        width: 100%;
        tr {
                td {
                        @include border();
                        @include prop-tabla(1.3rem, center);
                }
                th {
                        @include border();
                }
                .grande {
                        @include prop-tabla(2rem, center);
                }
        }
}
