* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: brown;
}

body {
    background: linear-gradient(90deg, #adbeaf 0%, #b9c1ce 100%);
}

.menu {
    background: linear-gradient(90deg, #b3cab6 0%, #bac7dd 100%);
    display: flex;
    height: 80px;
    border-bottom: 1px solid rgb(165, 139, 139);
    -webkit-box-shadow: 10px 10px 18px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -7px rgba(0, 0, 0, 0.75);
    justify-content: space-around;
    align-items: center;
}

.listas {
    display: flex;
    justify-content: space-between;
}

.listas li {
    margin: 20px 20px;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Nerko One', cursive;
}

.listas li a {
    padding: 10px;
}

.icono {
    display: none;
}

@media (max-width:492px) {
    .icono {
        display: block;
        font-size: 3em;
        position: relative;
    }
    .listas {
        margin-top: 10px;
        display: list-item;
        position: fixed;
        width: 300px;
        background-color: rgb(182, 204, 206);
        top: 80px;
        box-shadow: 1px 9px 6px -4px rgba(0, 0, 0, 0.37);
        -webkit-box-shadow: 1px 9px 6px -4px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 1px 9px 6px -4px rgba(0, 0, 0, 0.37);
    }
    .listas li {
        border-bottom: .1px solid rgb(170, 157, 157);
        box-shadow: 1px 10px 8px -2px rgba(0, 0, 0, 0.54);
    }
}

.container {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container div {
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 20px;
}

.dos {
    width: 200px;
}

.tres {
    width: 200px;
}

.uno {
    width: 200px;
    overflow: hidden;
}

.panel {
    margin-top: 10px;
    background-color: rgb(204, 187, 221);
}

@media (prefers-color-scheme: dark) {
    * {
        color: rgb(255, 255, 255);
    }
    body {
        background: linear-gradient(90deg, #4b6cb7 0%, #31466d 100%);
    }
    .menu {
        background: linear-gradient(90deg, #201550 0%, #344d8d 100%);
        border-bottom: 1px solid rgb(211, 197, 197);
        -webkit-box-shadow: -6px -31px 86px -1px rgba(54, 50, 50, 0.66);
        -moz-box-shadow: -6px -31px 86px -1px rgba(54, 50, 50, 0.66);
        box-shadow: -6px -31px 86px -1px rgba(54, 50, 50, 0.66);
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
    .listas li {
        letter-spacing: 2px;
    }
    @media (max-width:492px) {
        .icono {
            display: block;
            font-size: 3em;
            position: relative;
        }
        .listas {
            display: list-item;
            position: fixed;
            width: 300px;
            background-color: rgb(112, 125, 146);
            top: 80px;
        }
        .listas li a {
            color: rgb(255, 250, 250);
        }
    }
}