.contenedor{
    background-color: greenyellow;
    width: 300px;
    height: 300px;
    margin: auto;
}
.contenedor::before{
    content: "";
    background-color: #e5eff1;
    padding: 100px;
    display: inline-block;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    position: absolute;
}

.imagen{
    background-image: url("elefante.svg");
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 27px;
    padding: 75px;
}

/* .otro::after{
    content: " ";
    background-color: black;
    padding: 50px;
    margin: auto;
} */