{{!< default}}  <!--Usa la "plantilla" default.hbs-->
<header >
  <h1 class="page-title text-center my-4">{{@site.title}}</h1>
</header>

<div class="card-deck w-75 m-auto" >
{{#foreach posts}}
   {{> "cards"}}
{{/foreach}}
</div>
<div class="d-flex justify-content-center mt-5">{{pagination}}</div>
