{{!< default}}

{{#post}}
<main class="bg-light vh-100">
        <div class="w-75 mx-auto bg-white">
                <h1 class="text-center mb-4">{{title}}</h1>
                <div class="w-100 d-flex justify-content-between">
                        <img src="{{img_url feature_image}}" width="200" height="200" alt=""/> 
                        <div>
                                {{excerpt}}
                        </div>
                </div>
                <div class="my-3">
                        {{content}}
                </div>
        </div>
</main>
{{/post}}
